@use './bulma';

.w-100 {
    width: 100%;
}

.is-completed {
    text-decoration: line-through;
    color: #999;
}

.has-shadow {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px !important;
}